@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@theme {
  --font-dm: "DM Sans", sans-serif;
  --font-poppins: "Poppins", sans-serif;
}

html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

@media (min-width: 1023px) and (max-width: 1150px) {
  .nav-content ul {
    gap: 16px;
  }

  .nav-icons {
    gap: 10px;
  }

  .decorator-img1 {
    right: 2%;
  }

  .hero__social-proof span {
    font-size: 44px;
  }

  .hero__social-proof p {
    font-size: 14px;
  }

  .inter-brands {
    padding: 0px 20px 0px 0px;
  }

  .high-quality-product {
    padding: 0px 20px;
  }

  .happy-cust {
    padding: 0px 20px;
  }
}

@media (min-width: 900px) and (max-width: 1024px) {
  .hero-cont {
    padding: 0px 40px;
  }

  .hero__content {
    gap: 40px;
  }

  .hero__info {
    gap: 24px;
  }

  .hero__info p {
    width: 80%;
  }

  .high-quality-product {
    padding: 0px 14px;
  }

  .happy-cust {
    padding: 0px 14px;
  }

  .inter-brands {
    padding: 0px 14px 0px 0px;
  }

  .newarrivals-cont {
    padding: 80px 40px;
  }

  .topselling-cont {
    padding: 80px 40px;
  }

  .topselling__info h1 {
    padding: 0px 0px 40px 0px;
  }
}
